.vscode
data/**
!data/diabl42/
!data/diabl42/meta.json
!data/diabl42/model_012.pt
!data/img_viewer_00.png
!data/vid_00.mp4
!data/vid_01.mp4
notebooks/.ipynb_checkpoints
pres
runs
src/mazebots/__pycache__
temp
