.vscode
data/**
!data/env7.npz
!data/env7.json
!data/img_depcam_00.png
!data/img_rgbcam_00.png
!data/img_viewer_00.png
!data/img_viewer_01.png
!data/img_viewer_02.png
!data/img_viewer_03.png
!data/img_viewer_04.png
!data/img_viewer_05.png
!data/img_viewer_06.png
!data/img_viewer_07.png
!data/img_viewer_08.png
!data/img_viewer_09.png
notebooks/.ipynb_checkpoints
pres
runs
src/mazebots/__pycache__
temp
todos.md
