<?xml version="1.0"?>
<robot name="block">
<link name="block">
    <visual>
        <origin rpy="-1.57079632675 0 0" xyz="0 0 0"/>
        <geometry>
            <mesh filename="cube.obj" scale="0.375 0.375 0.375"/>
        </geometry>
    </visual>
    <collision>
        <origin xyz="0 0 0"/>
        <geometry>
            <box size="0.75 0.75 0.75"/>
        </geometry>
    </collision>
    <inertial>
        <density value="1000.0"/>
    </inertial>
</link>
</robot>
