<?xml version="1.0"?>
<robot name="floor">
<link name="floor">
    <visual>
        <origin xyz="0 0 0"/>
        <geometry>
            <mesh filename="cuboid_rep2d.obj" scale="12.825 12.825 0.025"/>
        </geometry>
    </visual>
    <collision>
        <origin xyz="0 0 0"/>
        <geometry>
            <box size="25.65 25.65 0.05"/>
        </geometry>
    </collision>
    <inertial>
        <density value="1000.0"/>
    </inertial>
</link>
</robot>
